/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
html{
  overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
*{padding:0;margin:0;}
.content{width:90%;margin: auto;}
:root{
  --color-background:#111111;
  --main-color:#f89d18;
  --secound-color:#EEEEEE;
}

a{text-decoration: none;color:black;}
ul{list-style: none;}
input[type="checkbox"],
input[type="radio"]{display: none;}
/**header compentn*/
input[type="checkbox"]{display: none;}

header{
  position: relative;
}
#logo{
  color:var(--main-color);
  position:relative;
  font-size: 2em;
  display: inline;
  height:40px;

}
#logo svg{
  height:100%;
}

#logo span{
  position: absolute;
  font-size: 0.5em;
  color:black;
  right:0;
  top:70%
}
#HeaderInfo{
  background:var(--color-background);
  margin: 0;
  padding:0;
  display: inline-block;
  width: 100%;
  height:7vmin;
  max-height: 30px;
  padding:1vmin;
  white-space: nowrap;
}

#BarAcces{
  display: inline-block;
  font-size: 1.2em;
}
#BarAcces li{
  display: inline;
}
#BarAcces li a{
  color:white;
  font-size: 1em;
}
#HeaderCompany{
  border-bottom:1px solid var(--main-color);
  height:15vmin;
  max-height: 70px;
}
#HeaderCompany > ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#HeaderCompany > ul > li:nth-of-type(2){
  display: none;
}

#HeaderCompany > ul > li:nth-of-type(3) > ul li:nth-of-type(2){
  background: var(--main-color);
  display: inline-block;
  text-align: center;
  width: 100%;
  color: white;
}
#HeaderCompany > ul > li:nth-of-type(3) form{
display: table;
border: 1px solid var(--main-color);
border-collapse: collapse;

}
#HeaderCompany > ul > li:nth-of-type(3) form div{
display: table-cell;
border: 1px solid var(--main-color);
}
#HeaderCompany > ul > li:nth-of-type(3) form div input
{
  border: none;
  outline: none;
}
#HeaderCompany > ul > li:nth-of-type(3) form div input:focus{
  outline: none;
}
#HeaderCompany > ul > li:nth-of-type(3) form div *{
  padding: 0.2em;
}
#HeaderCompany > ul > li:nth-of-type(3) form div button{
  background:none;
  border: none;
}

header .ArrowForNav{
  display: inline-block;
}
header .ArrowForNav span{
  display: block;
  height:4px;
  width:40px;
  border-radius: 5px;
  background: black;
  margin: 5px 0;
}
#navBar{
background: white;
width:70%;
border-right: 1px solid var(--main-color);
position: absolute;
left:-100%;
top:0;
z-index: 10;
height: 100vmin;
-webkit-transition: 1s left;
-o-transition: 1s left;
transition: 1s left;
}
#navBar ul{
  position: relative;
}
#navBar > ul >span{
  position: absolute;
  left:100%;
  top:0%;
  background: white;
}

#navBar li{
  padding:1vmin;
  border-bottom: 1px solid var(--main-color);
  font-weight: 900;
  text-transform: uppercase;
}
#navBar li a{
  font-size: 4vmin;
}
#navBar .CloseNav{
  width:32px;
  height:32px;
  position: relative;
  opacity: 0.6;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
#navBar .CloseNav::before,.CloseNav::after{
  content:"";
  height:2px;
  width:25px;
  background: black;
  position: absolute;
}
#navBar .CloseNav::before{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#navBar .CloseNav::after{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#navBar .CloseNav:hover{
  opacity: 1;
}
#ForPanelItem{
  height:20px;
  display: inline-block;
  float:right;
  display: table;
    background: var(--main-color);
    margin-right: 150px;
    -webkit-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
            transform: translateY(-20%);
    position: relative;
}
#ForPanelItem .IconFOrPanelItem span{
  display: table-cell;
  padding:0.2em 0.3em;
}
#ForPanelItem {
}

#ForPanelItem .IconFOrPanelItem span:nth-of-type(2){
  vertical-align: middle;
  border-right: 1px solid black;
}
#ForPanelItem .IconFOrPanelItem span:nth-of-type(3){
    vertical-align: middle;
    color:white;
}
#ForPanelItem .IconFOrPanelItem span:nth-of-type(1){
  background: black;
}

#ForPanelItem ul{
  position: absolute;
  left:0%;
  top:100%;
  display:none;
  background: white;
  width: 200px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
#ForPanelItem ul li{
  display: block;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
#ForPanelItem ul li img{
  width:40px;
}

#ForPanelItem .IconFOrPanelItem:hover + ul{
  display: block;
}
#ForPanelItem svg{
  width:20px;
  height:20px;
}
#ForPanelItem svg *{
  stroke:white;
  fill:white;
}

input[id="MenuShow"]:checked + #navBar{left:0%;}
@media (min-width:768px) {
  .content{
    width:  85%;
    margin: auto;
  }
/**Header Section**/
#HeaderInfo{
    height:4vmin;
  }
  #BarAcces{
  font-size:1em;
 }
 #HeaderCompany{
   height:7vmin;
 }
 #HeaderCompany > ul > li:nth-of-type(2){
   display: block;
   text-align: center;
   color:var(--main-color);
 }
 #HeaderCompany > ul > li:nth-of-type(2) span{
   display: block;
   color:black;
   font-weight: bold;
 }
 header .ArrowForNav{
   display: none;
 }
 #navBar > ul > span{
 display:none;}
 #navBar{
   position: -webkit-sticky;
   position: sticky;
  height:40px;
    border: 0;
    width:100%;
    padding:0.7em 0.2em;
 }
 #navBar > ul >li{
display: inline;
border:none;
}
#navBar ul li a{
  font-size:1em;
}}
/*SectionTitleColection*/
#SectionTitleColection{
  background:var(--color-background);
}
#SectionTitleColection .SectionTitleColectionTitle{
  text-align: center;
  padding:1.2em 0;
}
#SectionTitleColection .SectionTitleColectionTitle span{
  color:var(--main-color);
}
#SectionTitleColection .SectionTitleColectionTitle h1{
  color:white;
  text-transform: uppercase;
  font-size: 1.3em;
}
#SectionTitleColection .SectionTitleColectionTitle h3{
  font-size: 0.8em;
  text-transform: uppercase;
  color:white;
}
/*Section Tools And Product**/
#SectionToolsAndProduct{
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px auto 1em;
  grid-template-columns: 25px auto 1em;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
      grid-template-areas: "PanneuToolsPlaces SectionProducts .";
}

/*PaNEUS DE CONFIGIRATION**/
#PanneuToolsPlaces{
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  width:30px;
  display: inline-block;
  grid-area: PanneuToolsPlaces;
}
#PanneuTools{
  position: absolute;
  background: white;
  width: 60%;
  -webkit-box-shadow: 10px 10px 20px 1px var(--secound-color);
          box-shadow: 10px 10px 20px 1px var(--secound-color);
  left:-60%;
  -webkit-transition: 1s left;
  -o-transition: 1s left;
  transition: 1s left;
  min-height: 100vh;
  z-index: 15;
}

#PanneuTools .PanneuToolsTile{
  font-size:0.6em;
  position: relative;
}
#PanneuTools .PanneuToolsTile .PanneuToolsShowButton{
  border:1px solid var(--main-color);
  background:white;
  position: absolute;
  right:-29px;
  top:0;
}
#PanneuTools .PanneuToolsTile .PanneuToolsShowButton span{
  height:4px;
  width:28px;
  background: black;
  display: block;
  margin: 3px 0;
  border-radius: 25%;
}

#PanneuTools hr{
  height:1px;
  background: var(--main-color);
  border:none;
  width:90%;
  margin: auto;
}
#PanneuTools .PanneuToolsCategory > span{
text-transform: uppercase;
font-weight: bold;
}
#PanneuTools .PanneuToolsCategory > ul > li{
  margin: 0.5em 0;
}
#PanneuTools .PanneuToolsCategory > ul > li >label >span{
  background:var(--secound-color);
display: table;
}
#PanneuTools .PanneuToolsCategory > ul > li > label>span>span:nth-of-type(1),
 #PanneuTools .PanneuToolsCategory > ul > li > label>span>span:nth-of-type(2){
   display: table-cell;
 }
 #PanneuTools .PanneuToolsCategory > ul > li > label>span>span:nth-of-type(2){
  width:100%;
  padding-left: 0.6em;
 }
 #PanneuTools .PanneuToolsCategory > ul > li > label>span>span:nth-of-type(1){
   background: var(--main-color);
  padding:0 0.2em;
 }
 #PanneuTools .PanneuToolsCategory > ul > li >label>span>span:nth-of-type(1)>span{
   border-bottom:4px solid transparent;
   border-right: 4px solid white;
   border-top: 4px solid transparent;
   height: 2px;
   width:2px;
   display: block;
 }


#PanneuTools .PanneuToolsCategory > ul > li >ul> li >span {
display: table;
}
#PanneuTools .PanneuToolsCategory > ul > li >ul> li >span>span,
#PanneuTools .PanneuToolsCategory > ul > li >ul> li >span>a {
display: table-cell;
}
#PanneuTools .PanneuToolsCategory > ul > li >ul> li >span>span{
  border:1px solid var(--main-color);
  position: relative;
  display: inline-block;
  width:10px;
  height: 10px;
  background: white;
  z-index: 10;
}
#PanneuTools .PanneuToolsCategory > ul > li >ul> li >span>span::after,
#PanneuTools .PanneuToolsCategory > ul > li >ul> li >span>span::before{
content: "";
position: absolute;
left:50%;
top:1px;
height:8px;
width:1px;
background: var(--main-color);
-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
#PanneuTools .PanneuToolsCategory > ul > li >ul> li >span>span::after{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#PanneuTools .PanneuToolsCategory > ul > li >ul> li >span>span::before{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}



#PanneuTools .PanneuToolsCategory > ul > li >ul{
  margin-left:1em;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
#PanneuTools .PanneuToolsCategory > ul > li > ul > li>span >a{
  width:100%;
  font-weight: bold;
  padding-left:5px;
}

#PanneuTools .PanneuToolsCategory > ul > li > ul > li{
  position: relative;
}

#PanneuTools .PanneuToolsCategory > ul > li > ul > li>ul>span{
  background: var(--main-color);
  position: absolute;
  top:10px;
  bottom: 10px;
  left:calc(5.5px);
  display: inline-block;
  width: 2px;
}
#PanneuTools .PanneuToolsCategory > ul > li > ul > li>ul>li{
  margin: 10px 3px;

}
#PanneuTools .PanneuToolsCategory > ul > li > ul > li>ul>li>span{
  width:8px;
  height: 8px;
  display: inline-block;
  background: var(--main-color);
}
#PanneuTools .PanneuToolsCategory > ul > li > ul > li>ul>li>a{
width: 100%;
padding-left: 5px;
font-size: 0.8em;
}

input[id="PanneuToolsShowButtonS"]:checked + #PanneuTools{
  left:0;
}
#menFashionIUl,#WomenFashionIUl,#KidsFashionIUl,#AccesoireIUl{
  max-height:0px;
  overflow: hidden;
  -webkit-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
}
input[id="menFashionI"]:checked + #menFashionIUl{max-height:700px;}
input[id="WomenFashionI"]:checked + #WomenFashionIUl{max-height:700px;}
input[id="KidsFashionI"]:checked + #KidsFashionIUl{max-height:700px;}
input[id="AccesoireI"]:checked + #AccesoireIUl{max-height:700px;}

/*SectionItemProduct*/


#SectionItemProduct{
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: SectionProducts;
}
#SectionItemProduct .SectionItemProductTollsAffichage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align:baseline;
      -ms-flex-align:baseline;
          align-items:baseline;
}
#SectionItemProduct .SectionItemProductTollsAffichage .ShowProdcutOption,
#SectionItemProduct .SectionItemProductTollsAffichage .ShowProdcutSHortBy
{
  white-space: nowrap;
  margin: 0 0.5em;
}
#SectionItemProduct .SectionItemProductTollsAffichage .SectionItemProductViewAs{
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  margin-top:0.5em;
}
#SectionItemProduct .SectionItemProductTollsAffichage .SectionItemProductViewAs .ViewAssOprion {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
#SectionItemProduct .SectionItemProductTollsAffichage .SectionItemProductViewAs .ViewAssOprion > div{
  height:25px;
  width:25px;
  background: #eeeeee;
  margin-left: 10px;
  display: inline-block;
  position: relative;
}
#SectionItemProduct hr{
  border: none;
  height:2px;
  background: #EEEEEE;
}
#SectionItemProduct .SectionItemProductTollsAffichage .ViewCardItem ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
top:50%;
left:50%;
-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
position: absolute;
height: auto;
width: 80%;
}
.active{
  background: black;
}
#SectionItemProduct .SectionItemProductTollsAffichage .ViewCardItem li{
display: inline-block;

}
#SectionItemProduct .SectionItemProductTollsAffichage .ViewCardItem span{
display: block;
height: 3px;
width: 3px;
background: white;
padding: 1px;
margin: 1px;
}
#SectionItemProduct .SectionItemProductTollsAffichage .ViewFullItem ul{
  position: absolute;
  left:50%;
  top:50%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
#SectionItemProduct .SectionItemProductTollsAffichage .ViewFullItem ul li{
  width:80%;
  height:3px;
  background: white;
  margin: 2px auto;
}
          /*Section Products**/
#SectionItemProduct .SectionItemProductItems{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

          /*Button fomr section product--*/
  #SectionItemProduct .ButtonPageNumber{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em auto;
  }
  #SectionItemProduct .ButtonPageNumber ul li{
    display: inline;
    padding:0.2em 0.4em;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 0.3em;
  }

  @media (min-width:768px) {
    #SectionToolsAndProduct{
      -ms-grid-columns: 45px auto 1em;
      grid-template-columns: 45px auto 1em;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
          grid-template-areas: "PanneuToolsPlaces SectionProducts .";
    }
    #PanneuTools{
      background: white;
      width: 250px;
      -webkit-box-shadow: 10px 10px 20px 1px var(--secound-color);
              box-shadow: 10px 10px 20px 1px var(--secound-color);
      left:-190px;
      -webkit-transition: 1s left;
      -o-transition: 1s left;
      transition: 1s left;
      min-height: 100vh;
      z-index: 15;
    }
    #PanneuToolsPlaces{-ms-grid-row: 1;-ms-grid-column: 1;
    }
    #SectionItemProduct{-ms-grid-row: 1;-ms-grid-column: 2;
    }
}
@media (min-width:1000px) {
  #SectionToolsAndProduct{
    -ms-grid-columns: 250px auto 1em;
    grid-template-columns: 250px auto 1em;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: "PanneuToolsPlaces SectionProducts .";
  }
  #PanneuTools{
    position: static;
    padding: 0 0.6em;
  }
  #PanneuTools .PanneuToolsTile .PanneuToolsShowButton{
    display: none;
  }
  #PanneuToolsPlaces{-ms-grid-row: 1;-ms-grid-column: 1;
  }
  #SectionItemProduct{-ms-grid-row: 1;-ms-grid-column: 2;
  }
}


/*Footer **/
footer{
  background: black;
  padding: 0.6em 0;
  margin-top: 3em;
}
footer .FooterEmail{
  background: white;
  padding: 0.5em 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 90%;
  margin: auto;
}
footer .FooterEmail form{
  display: table;
  border: 1px solid var(--main-color);
  margin: auto;
    border-radius: 15px;

}
footer .FooterEmail form div{
  display: table-cell;
}
footer .FooterEmail form div:nth-of-type(1){

}
footer .FooterEmail form div input{
  border: 0;
  background: none;
}
footer .FooterEmail form div input:focus{
  border: 0;
  outline: 0;
}

footer .FooterEmail form div> *{
  padding:0.6em 0.6em;;
}
footer .FooterEmail form div button{
  background: var(--main-color);
  border: 0;
  border-radius: 15px;
}
footer .FooterSection{
  margin: 0 2em;
}
footer .FooterSection ul{
  display: block;
}
footer .FooterSection ul li a,
footer .FooterSection ul li span{
  color: white;
}
footer .FooterSection ul hr{
  border: 0;
  height: 1px;
  width: 70%;

  background: var(--main-color);
}
footer .FooterSection ul li:nth-of-type(1){
  text-transform: uppercase;
  color:white;
}
footer .FooterSection ul li:not(:nth-of-type(1)){
  opacity: 0.6;
  margin: 5px 0;
}
footer .FooterPayment{
  text-align: center;
}
footer .FooterPayment  > span{
  color:white;
}

footer .FooterPayment .Cards ul li{
  display: inline;
}
footer .FooterPayment .Cards ul li img{
  height:20px;
  width:30px;
  background: white;
}
footer .FooterCopyright{
background: var(--main-color);
text-align: center;
}
footer .FooterCopyright p{
  font-size: 0.6em;;
}
footer .CopyrightSocialMedia ul li{
  display: inline;
}
footer .CopyrightSocialMedia ul li img{

 height:20px;
 width:30px;
 background: black;
}
footer .FooterSection{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
































/**/
