*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
a{text-decoration: none;
color:black;}
ul{list-style: none;}
:root{
  --color-background:#111111;
  --main-color:#f89d18;
}
.content{
  width:90%;
  margin: auto;
}
#map {
  height: 400px;
  width: 100%;
}

body{

}
body > div:not(:first-of-type(div)){
  margin:1em 0;
}
/**ConctactImage*/
#ConctactImage{
  height:30vmin;
  background: black;
  position: relative;
  background-image: url("../assests/img/photoContactSection.jpg");
  background-position: center -100px;
}
#ConctactImage::before{
  content:"";
  position:absolute;
  width: 100%;
  top:0;
  bottom: 0;
  background: black;
  opacity: 0.7;
}
#ConctactImage .ConctactImageInfo{
position: absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%);
}
#ConctactImage .ConctactImageInfo h1,
#ConctactImage .ConctactImageInfo h5{
  color: white;
  text-transform: uppercase;
}
#ConctactImage .ConctactImageInfo h1{
  font-weight: bold;
  font-size:1.5em;
}
#ConctactImage .ConctactImageInfo h5 span{
  color:var(--main-color);
}
/*ContactUsSsection**/
#ContactUsSsection {


}
#ContactUsSsection .ContactUsSsectionInfo,#ContactUsSsection .ContactUsSectionMapsGoogle{
  width:100%;
}
#ContactUsSsection .ContactUsSsectionInfo input,
#ContactUsSsection .ContactUsSsectionInfo textarea
{
  width: 100%;
  border-radius: 10px;
  padding:0.4em 0.2em;
  border: 1px solid black;
}
#ContactUsSsection .ContactUsSsectionInfo button{
  background: var(--main-color);
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding:0.4em 0.6em;
  font-weight: bold;
  color:white;
}
#ContactUsSsection .ContactUsSectionMapsGoogle{
  background: var(--main-color);
  height:400px;
}
/*Section Get In Touch**/
#GetTouchSection{
  background: var(--main-color);
  overflow: hidden;
    background-image: url("../assests/img/photopagecontact.jpg");
    background-size: cover;
    position: relative;
}
#GetTouchSection::before{
  content: "";
  position: absolute;
  z-index: 1;
  left:-50%;
  bottom: 0;
  top:0;
  right:0;
  background-image: linear-gradient(to left, var(--main-color) , transparent);
}
#GetTouchSection .GetTouchSectionInfo{
  float: right;
  z-index: 50;
  position: relative;
}
#GetTouchSection .GetTouchSectionInfo> div>div > img{
  background:var(--main-color);
  height:30px;
  width:30px;
  border-radius: 50%;
  display: inline;
  vertical-align:middle;
  z-index: 5;
  position: relative;
}

#GetTouchSection .GetTouchSectionInfo > div>div>div{
  display:  inline-block;
  margin: 19px 0;
}
#GetTouchSection .GetTouchSectionInfoLiens
{

position: relative;
}
#GetTouchSection .GetTouchSectionInfoLiens:before{
  content:"";
  position: absolute;
  left:15px;
  top:0;
    height:100%;
    border:1px dashed black;
  width:0px;
  z-index: 1;
}
@media (min-width:768px) {
.content{
  width:80%;
}
/*ContactUsSsection**/
#ContactUsSsection .content{
  display: flex;

}
#ContactUsSsection .ContactUsSectionMapsGoogle{
  width:auto;
  height: 400px;
}
#ContactUsSsection .ContactUsSsectionInfo,#ContactUsSsection .ContactUsSectionMapsGoogle{
  width:45%;
  display: inline-block;
  margin-left:10px;
}











}
