*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --color-background:#111111;
  --main-color:#f89d18;
}
body{
  background: #EEEEEE;
}
#inscription{
  width:90%;
  margin: auto;
}
#inscription form > div{
  margin: 0.6em 0;
}
#inscription form input{
  width:100%;
  padding:1em 0.9em;
}
#inscription form label{
  text-transform: uppercase;
  margin:0.5em 0;
  display: block;
}
#inscription button{
  width: 100%;
  padding:1em 0;
  border: none;
  background: var(--main-color);
  text-transform: uppercase;
  color:white;
}
